# fastapi
# uvicorn[standard]

# python-dotenv

# langchain
# langchain-community
# langchain-core
# langchain-classic
# langchain-groq

# sentence-transformers
# faiss-cpu

# pypdf

# torch


fastapi
uvicorn[standard]
python-dotenv
langchain-groq
pypdf