fastapi==0.115.12
uvicorn[standard]==0.34.2

python-dotenv==1.1.0

langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.60
langchain-classic==1.0.0
langchain-groq==0.3.2

sentence-transformers==4.1.0
faiss-cpu==1.13.2

pypdf==5.5.0

torch==2.11.0